{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}
<!-- {% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        setTimeout(function() {
            // window.location.href = "www.google.com";
            alert("Hello");
        }, 3000);
    </script>
{% endblock %} -->

{% block content %}
<script type="text/javascript">
    setTimeout(function() {
        window.location.href = "/";
        // alert("Hello");
    }, 2500);
</script>
    <h1>Password reset complete</h1>
    <p>You will be redirected to home page within 2 seconds. If it's not working, please click <a href="{% url 'login' %}">here</a>.</p>
{% endblock %}

