/*---------------*/
/*Navigation Pane*/
/*---------------*/
#navPane ul {
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #232f3e;
    overflow:hidden;
}

#navPane li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 9px;
    text-decoration: none;
}

#navPane li#cart {
	background-image: url('../images/cart_icon.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 50%;
    float: right;
}

#navPane li#home {
    float: left;
}

#navPane li#account {
    float: left;
}

#navPane li#login {
    float: right;
}

#navPane li#logout {
    float: right;
}

#navPane li#signup {
    float: right;
}

#navPane li#logout a:hover {
	background-color: #ff4d4d;
}

#navPane li#login a:hover {
	background-color: #1eb350;
}

#navPane li#signup a:hover {
	background-color: #1eb350;
}

#navPane li#home a:hover {
	background-color: #111;
}

#navPane li#account a:hover {
	background-color: #111;
}

/*    Searchbar    */
#navPane #searchbar {
	position:relative;
	border: 3px solid #747474;
	padding: 4px;
	margin-left: 365px;
	margin-right: auto;
	margin-top: 3px;
	height: 25px;
	width:50%;
	border-radius: 5px;
	outline: none;
	color: #9DBFAF
}

#navPane button {
	height: 32px;
}

/*---------------*/
/*    categories    */
/*---------------*/
.categories {
	text-align: center;
    border-bottom: 2px black solid;
    height: 40px;
}
.categories ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.categories li {
    display: inline;
}

.categories li a {
	display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.categories li a:hover {
    background-color: #555;
    color: white;
}

/* Dropdown button */
.dropdown{
	display: inline-block;
}
.dropdown .dropbtn {
	display: inline-block;
	border: none;
	height: 40px;
	font-size: 16px;
	outline: none;
	padding: 8px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn .arrow {
	font-size: 10px;
}

.dropdown .dropbtn:hover {
	background-color: #555;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*---------------*/
/*		Logo	 */
/*---------------*/

.logo {
	margin-left:auto;
	margin-right:auto;
	padding-top: 75px;
	width: 30%;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}


/*---------------*/
/*	 Main text   */
/*---------------*/
h2 {
	color: "525252";
	text-align: center;
	font-family: "Arial", sans-serif;
}

p {
	color: "525252";
}

/*---------------*/
/*    Slideshow  */
/*---------------*/
.slideshow_container {
	margin-top:50px;
	text-align: center;
}
.slideshow {
	display: inline-block;
}
.slideshow .myslides {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.slideshow_container .left {
	float:left;
}

.slideshow_container .right {
	float:right;
}