<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <title>{% block title %}  project {% endblock %}</title>
</head>
<!-- <body bgcolor="1f1f1f"> -->
	<body bgcolor="white">
    <main>
	    <div id="navPane">
			<ul>
				<li id="home"><a href="{% url 'home' %}">Home</a></li>
				<form action="/shoes/searchResult/" method="get">
    				<input id="searchbar" type="text" name="searchQuery" value="{{ query }}" placeholder="Search for shoes by description..." />
    				<input id="submitButton" type="submit", value="Submit" name="description">
				</form>
				<!-- <input id="searchbar" type="text" placeholder="Search for shoes by description..."> -->
				{% if user.is_authenticated %}
					<li id="account"><a href="/users/update">Account</a></li>
				{% endif %}
				{% if user.is_authenticated %}
					<li id="logout"><a href="{% url 'logout' %}">Log Out</a></li>
					<li id="cart"><a href="#">&nbsp</a></li>
				{% else %}
	        		<li id="signup"><a href="{% url 'signup' %}">SignUp</a></li>
	        		<li id="login"><a href="{% url 'login' %}">LogIn</a></li>
	    		{% endif %}

			</ul>
		</div>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>