<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <title>{% block title %}  project {% endblock %}</title>
</head>
<!-- <body bgcolor="1f1f1f"> -->
	<body bgcolor="white">
    <main>
	    <div id="navPane">
			<ul>
				<input id="searchbar" type="text" placeholder="Browse for shoes...">
				{% if user.is_authenticated %}
					<li id="home"><a href="/users/update">Info</a></li>
				{% endif %}
				{% if user.is_authenticated %}
					<li id="logout"><a href="{% url 'logout' %}">Log Out</a></li>
					<li id="cart"><a href="#">&nbsp</a></li>
				{% else %}
	        		<li id="signup"><a href="{% url 'signup' %}">SignUp</a></li>
	        		<li id="login"><a href="{% url 'login' %}">LogIn</a></li>
	    		{% endif %}
	    		<button type="submit">Search</button>
			</ul>
		</div>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>