{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	{% load static %}

	<div id="navPane">
		<ul>
			<li id="home"><a href="#">Home</a></li>
			{% if user.is_authenticated %}
				<li id="logout"><a href="{% url 'logout' %}">Log Out</a></li>
				<li id="cart"><a href="#">&nbsp</a></li>
			{% else %}
        		<li id="signup"><a href="{% url 'signup' %}">Sign Up</a></li>
        		<li id="login"><a href="{% url 'login' %}">Log In</a></li>
    		{% endif %}
		</ul>
	</div>
	<div id=logo>
		<img src="{% static "images/logo.png" %}" alt="Shoebay Logo" max-height=100%>
	</div>
	<h2>Begin shopping</h2>
	<div class="button">
		<a href="http://google.com" class="men">Men</a>
		<a href="http://google.com" class="women">Women</a>
	</div>
{% endblock %}
