{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	{% load static %}
	<!-- Logo image div -->
	</div>
		<div class=logo>
		<img src="{% static "images/logo.png" %}" alt="Shoebay Logo" max-height=100%>
	</div>

	<!-- Shop by categories navigation bar div -->
	<div class=categories style="margin-top:20px">
		<ul>
		  <li><a href="/shoes/list/">A L L</a></li>
		  <li><a href="/shoes/searchResult/?man=click">M E N S</a></li>
		  <li><a href="/shoes/searchResult/?women=click">W O M E N S</a></li>
		</ul>
	</div>

	<!-- Image sliders -->
	<div class="slideshow_container">
		<div class="slideshow">
			<img class="mySlides" src="{% static "images/slide_sneakers.png" %}" >
			<img class="mySlides" src="{% static "images/slide_heels.png" %}" >
			<img class="mySlides" src="{% static "images/slide_delivery.png" %}" >
			<img class="mySlides" src="{% static "images/slide_adidas.png" %}" >		
		</div>
	</div>


	<script>
		var slideIndex = 0;
		carousel();

		function carousel() {
		    var i;
		    var x = document.getElementsByClassName("mySlides");
		    for (i = 0; i < x.length; i++) {
		      x[i].style.display = "none"; 
		    }
		    slideIndex++;
		    if (slideIndex > x.length) {slideIndex = 1} 
		    x[slideIndex-1].style.display = "block"; 
		    setTimeout(carousel, 5500); // Change image every 5.5 seconds
		}
	</script>

{% endblock %}
