{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	{% load static %}
	<!-- Logo image div -->
	</div>
		<div class=logo>
		<img src="{% static "images/logo.png" %}" alt="Shoebay Logo" max-height=100%>
	</div>

	<!-- Shop by categories navigation bar div -->
	<div class=categories style="margin-top:20px">
		<ul>
			<li><a href="/shoes/list/">A L L</a></li>
			<li><a href="/shoes/searchResult/?man=click">M E N S</a></li>
			<li><a href="/shoes/searchResult/?women=click">W O M E N S</a></li>
			<div class="dropdown">
				<button class="dropbtn">S E L E C T <span class='arrow'>&#9660</span>
				</button>
				<div class="dropdown-content">
					<a href="#">BRAND</a>
					<a href="#">CATEGORIES</a>
					<a href="#">RETAILERS</a>
				</div>
			</div> 
		</ul>
	</div>

	<!-- Image sliders -->
	<div class="slideshow_container">
		<div class="slideshow">
			<img class="mySlides" src="{% static "images/slide_sneakers.png" %}" >
			<img class="mySlides" src="{% static "images/slide_heels.png" %}" >
			<img class="mySlides" src="{% static "images/slide_delivery.png" %}" >
			<img class="mySlides" src="{% static "images/slide_adidas.png" %}" >		
		</div>
	</div>
	<script type="text/javascript" src="{% static "js/carousel.js" %}"></script>
	
{% endblock %}
