<h1>Shoes</h1>
<ul>
    <table>
        <tr>
            <th>numPurchased</th>
            <th>shoeID</th>
            <th>customerID</th> 
            <th>price</th>
            <th>time</th>
        </tr>
    {% for history in object_list %}
        <tr>
            <td>{{history.numPurchased}}</td>
            <td>{{ history.shoeName }}</td>
            <td>{{ history.customerName}}</td>
            <td>{{history.price}}</td>
            <td>{{history.time}}</td>
            <td>
                <form action="/transactions/transaction_detail" method="get">
                    <input type="hidden", value={{history.id}} name ="shoeID"/>
                    <input type="hidden", value={{history.customerName}} name ="cusID"/>
                    <input type="submit", value="checkDetails" name="check">
                </form>
        </td>
        </tr>
    {% empty %}
    </table>
    <h2>No History yet.</h2>
{% endfor %}
</ul>

<a href="/">back to home page</a>
<br><br>
<form action="/transactions/division" method="get">
    <b>Divison:</b> find all customers who bought 
    shoeID :<input type="text", value="{{ query }}" name ="shoe1"/>
    and shoeID<input type="text", value="{{ query }}" name ="shoe2"/>
    <input type="submit", value="divisonCheck" name="DivisionCheck">
</form>
<br><br>
<form action="/transactions/tranShoes" method="get">
    <b>Join</b> check all shoes information that has sold
    <input type="submit", value="joincheck" name="joincheck">
</form>



